* {
    font-family: 'Poppins';
}

span {
    color: rgb(8, 209, 18);
}

.navbar-marron {
    background-color: #ffffff;
}

.navbar-nv {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 15px;
}

.navbar-nv .nav-item {
    margin-right: 25px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-text-color {
    color: rgb(8, 209, 18);
    text-decoration: none;
}

.custom-text-color:hover {
    color: rgb(11, 116, 17);
}

.carousel-inner img {
    height: 700px;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5, .carousel-caption p {
    font-size: 30px;
}

.carousel-caption p {
    font-size: 22px;
}

.text-justify {
    text-align: justify;
    font-size: 19px;
}

.column {
    padding: 0 15px;
    margin-left: 35px;
}

.column img {
    width: 100%;
    height: auto;
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.video-card {
    max-width: 300px;
    margin: 20px auto;
}

.product-card {
    position: relative;
    text-align: center;
    height: 200px;
    border: 3px solid rgb(8, 209, 18);
    border-radius: 18px;
    padding: 10px;

}

.product-card img {
    width: 100%;
    height: 60px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.product-card .product-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 0;
    border-radius: 0 0 15px 15px;
}

.col-md-6 .mn-list {
    margin-bottom: 30px;
}

.col-md-6 .mn-list h2 {
    color: #000000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px double #000000;
}

.col-md-6 .mn-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.col-md-6 .mn-list ul li {
    margin: 0 0 12px 5px;
    position: relative;
}

.col-md-6 .mn-list ul li:last-child {
    margin-bottom: 0;
}

.col-md-6 .mn-list ul li a {
    color: #000000;
    display: block;
    line-height: 23px;
    padding-left: 25px;
}

.col-md-6 .mn-list ul li::before {
    position: absolute;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000000;
    left: 0px;
    top: 0px;
}

.col-md-6 .mn-list ul li a:hover {
    color: rgb(8, 209, 18);
}


.footer {
    position: relative;
    padding: 60px 0 0 0;
    background: #111111;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.footer .footer-widget .title {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px double #ffffff;
}

.footer .footer-widget p {
    color: #ffffff;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0;
}

.footer .footer-widget ul li a {
    color: #ffffff;
    white-space: nowrap;
    display: block;
    line-height: 23px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px;
    color: rgb(8, 209, 18);
}

.footer .contact-info p {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #ffffff;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    border-radius: 4px;
}

.footer .social a i {
    color: #111111;
}

.footer .social a:hover {
    background: rgb(8, 209, 18);
}

.footer .social a:hover i {
    color: #ffffff;
}


.back-to-top {
    position: fixed;
    background: rgb(8, 209, 18);
    color: #ffffff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 4px;
    z-index: 11;
}

.back-to-top:hover {
    background: rgb(11, 116, 17);
}

.back-to-top i {
    padding-top: 9px;
    color: #ffffff;
}

